Requirements

Python Version 
- Python 3.6.1 or later 
Operating System: 
- Ubuntu-Linux 

This research was done with Python 3.8. For reproducing the study we recommend using a similar python version and operating system. 

For AllenNLP to work requires the following: 
- PyTorch: pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
- pip install allennlp
- pip install allennlp-models
- pip install allennlp[checklist]
- pip install csv

